<h1>Municipal Stations</h1>

<ul>
  <% @stations.each do |station| %>
    <li><%= link_to station.name, station_path(station) %></li>
  <% end %>
</ul>

<%= link_to "New Station", new_station_path, :class => "btn btn-default" %>
<%= link_to "Return to main index", root_path, :class => "btn btn-default" %>
