<h1>Bus System</h1>

<%= link_to "View System by Line", lines_path, :class => "btn btn-default" %>

<%= link_to "View System by Station", stations_path, :class => "btn btn-default" %>

<%= link_to "View Bus Management", buses_path, :class => "btn btn-default" %>
