/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */

html {
  background: url("./bonnet_bus.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #000080; text-shadow: gray 0.1em 0.1em 0.2em
}

h3 {
  color: #000080; text-shadow: gray 0.1em 0.1em 0.2em
}

.flash {
  color: #000080; text-shadow: gray 0.1em 0.1em 0.2em
}

p {
  color: #000080; text-shadow: gray 0.1em 0.1em 0.2em
}

li {
 color: #000080; text-shadow: gray 0.1em 0.1em 0.2em
}

body {
  background-color: transparent !important;
}

.btn {
  background-color: #AD6200;
  color: white;
  margin-bottom: 5px;
}

.btn:hover{
  background-color: #000080;
  color: white;
}

a:link {color: #E88300;}
a:visited {color: #EBA852;}
a:hover {color: #5295EB;}

ul {
  list-style-type: none;
  padding: 5px;
}
